* {
    margin: 0px;
    padding: 0px;
    font-family: 'montserrat';
}

html,
body {
    background: #F4F8FF;
    cursor: default;
}

img {
    border: none;
}

li,
ul {
    list-style-position: inside;
}

select {
    outline: none;
}

button {
    border: none;
    outline: none;
}

textarea {
    resize: none;
    border: none;
    outline: none;
}

strong {
    font-family: 'montserratbold';

}

.upheader {
    width: 100%;
    height: 4px;
    background: #4960d2;
}

.container {
    width: 1000px;
    margin: auto;
    background: #fff;
}

.block1 {
    text-align: center;
    color: #333;
    padding: 40px 0;
}

.block1 h1 {
    font-size: 40px;
    font-weight: 800;
}

.block1 p {
    font-size: 24px;
}

.block1 span {
    color: #FC7321;
}

.blockVideo {
    padding: 40px 0;
    display: grid;
    justify-content: center;
    align-items: stretch;
    justify-items: stretch;
    grid-auto-columns: minmax(320px, 840px);
    grid-auto-rows: minmax(320px, 470px);
}

.blockTime {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    justify-items: center;
    justify-content: center;
    padding-bottom: 80px;
    color: #696969;
    grid-gap: 20px;
}

.blockTime p {
    line-height: 1;
    font-weight: 200;
}

.blockTime strong {
    font-weight: 600;
}

.blockTimme a {
    color: #4960D2;
    text-decoration: underline;
}

.blockTimme a:hover {
    color: #333;
}

.blockTimme {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-gap: 10px;
}

.blockTime img {
    grid-row: 1/-1;
}

.spanTrack {
    width: 100%;
    height: 40px;
    background: #F4F8FF;
}

.spanTrack img {
    position: relative;
    left: -20px;
}

.block2 {
    padding: 40px 0;
}

.block2 h3 {
    text-align: center;
}

.blockProduct {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, 170px);
    justify-items: center;
    justify-content: center;
}

.curProd {
    display: grid;
    align-content: space-evenly;
    justify-content: center;
    justify-items: center;
    height: 220px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid lightgrey;
    grid-gap: 10px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
}

.curProd img {
    max-width: 120px;
}

.curProd input {
    display: none;
}

.selectCountry {
    padding: 40px;
}

.selectCountry select {
    font-size: 14px;
    margin: 20px 0;
    padding: 10px 40px 10px 12px;
    border: none;
    color: #5d5d5d;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: right center;
    background-color: #efefef;
    width: 100%;
    max-width: 500px;
    cursor: pointer;
}

.selectInvest {
    padding: 40px;
}

.selectInvest h2 {}

.rangeBar {}

#back {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #efefef;
    outline: none;
    margin-top: 20px;
}

#back::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #6598ff;
    cursor: pointer;
}

#back::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #6598ff;
    cursor: pointer;
}

#maxPrice {
    display: flex;
    justify-content: space-between;
}

#maxPrice span {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

#maxPrice span:before {
    position: absolute;
    content: '';
    width: 3px;
    height: 10px;
    top: -14px;
    
    background-color: #6598ff;
}
.summ{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 200px));
    justify-content: space-between;
    padding: 30px 0;
}
.summBlock{
    border-top: 2px solid #6598ff;
}
.summBlock h3{
    font-size: 16px;
    margin: 10px 0;
  color:  rgba(36,36,36,.7);    
}
#amount, #profit{
    font-weight: 700;
    color: #6598ff;
    font-size: 30px;
}
#prod, #adv{
    color:  rgba(36,36,36,.7);    
    font-size: 30px;
       
}
.totalsumm{
    background: #efefef;
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    border-radius: 8px;
    display: grid;
}
.totalsumm h3, .totalsumm h4{
    font-size: 10pt;
    font-weight: normal;
    text-align: center;
    color:  rgba(36,36,36,.7);    
}
#total{
    font-size: 40px;
    margin: 20px 0;
    font-weight: 700;
    color: #FC7321;
    text-align: center;
}
.calendar {
    padding: 80px;
}

.curDate {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.curDate h2 {
    font-family: montserratbold;
    font-size: 24px;
    line-height: 1.6;
    text-align: left;
    align-self: center;
}

.curDate img {
    justify-self: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, .08);
}

.curDate a {
    font-family: montserratbold;
    padding: 0 15px;
    background: #4960d2;
    height: 55px;
    border-radius: 4px;
    width: 440px;
    color: #fff;
    display: grid;
    justify-self: center;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    text-transform: uppercase;
    margin-top: 50px;
    text-decoration: none;
}

.blank {
    padding: 80px;
    margin-bottom: 150px;
}

.curBlank {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
}

.curBlank h2 {
    font-family: montserratbold;
    font-size: 24px;
    line-height: 1.6;
    text-align: left;
    align-self: center;
}

.curBlank p {
    margin-top: 20px;
    font-family: montserratbold;
    font-size: 16px;
}

.curBlank img {
    justify-self: center;
}

.curBlank a {
    font-family: montserratbold;
    padding: 0 15px;
    background: #FF9930;
    height: 55px;
    border-radius: 4px;
    width: 440px;
    color: #fff;
    display: grid;
    justify-self: center;
    justify-content: center;
    align-items: center;
    grid-column: 1/-1;
    text-transform: uppercase;
    margin-top: 50px;
    text-decoration: none;
}

.flat {
    width: 100%;
    background: linear-gradient(to bottom, rgba(177, 181, 199, 0) 0%, rgba(177, 181, 199, 1) 100%);
}

.container1 {
    width: 1000px;
    margin: auto;
}

.footer {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    height: 150px;
    align-items: center;
}

.contacts p {
    font-size: 12px;
    margin-bottom: 15px;
}

.hren p {
    font-size: 12px;
    margin-bottom: 15px;
    text-align: right;
}

























.downFooter {
    width: 100%;
    height: 4px;
    background: #fff200;

}
